.header {
  background: $color-background-dark;
  display: flex;
  height: $header-height-mobile;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include respond-to(tablet) {
    height: $header-height-tablet;
  }

  @include respond-to(desktop) {
    .logo {
      flex-grow: 1;
    }
  }
}
